*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: content-box;    
    list-style-type: none;    
    text-decoration: none;
}
body{
    width: 100%;
    min-height: 100%;
    background-color: rgba(255,255,255,1);
    font-family: "Fredoka", sans-serif;
}

/* == THE TOP CONTROL == */

.headerTop{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: #ffffff;   
    z-index: 100;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
}
.innerHeader{
    width: 90%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2.5em;
}
.ulNav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ulNav>li{
    padding: 0 10px;
}
.banner{
    width: 100%;
    height: 100%;
    position: relative;
}
.heroSec{
    width: inherit;
    height: 800px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,.5))
    ,url(./img/covPix.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 100%;
}
.innerHeroSec{
    width: 85%;
    height: 52%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.proPix{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/ucPro.png); 
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
   
}
.proPix::before{
    content: '';
    /* position: relative; */
    position: absolute;
    width: 25%;
    height: 45.5%;
    top: 10.95em;
    left: 49rem;
    border: solid 1px #fed136;   
    padding: 40px;
}
.innerHero{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
    color: #FFFFFF;
}
.Hi{
    font-size: 2.3rem;
    line-height: 100%;
    letter-spacing: .3rem;    
    color: #fed136;
    font-family: "poppins-bold", sans-serif;
    font-size: 2.3rem;
    line-height: 100%;
    margin-bottom: 0;
    text-transform: uppercase;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);   
}
.name {
    font-size: clamp(60px,8vw,100px);
    line-height: 100%;
    font-weight: 400;
    letter-spacing: .3rem; 
    margin: 0 auto;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    
}
.role{
    letter-spacing: .3rem;
    margin: 8px auto;
    font-size: clamp(5px,2vw,18px);
    line-height: 100%;
}
.do{
    font-size: 15px;
    margin: 5px auto;
    letter-spacing: .1rem;
}

.button{
    margin: 30px auto 0 auto;
    color: #ffffff;
}

.btn{
    padding: 15px 30px;
    font-size: 20px;
    border: 0;
    background-color: rgb(108, 108, 238);
    text-align: center;
    line-height: 100%;
}
.socialsSec {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    bottom: 8em;
    }
.socialInner{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    transform: translatex(-120%);
}
.soc{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    color: #eee;
    padding: 10px;
}

/* == THE EX CONTROL == */

.ex{
    width: 100%;    
    position: relative;
}
.innerEx {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    position: absolute;
    top: 68.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,1);
    /* border-radius: 50px; */
}
.exInfo {
    width: 25%;
    padding: 0 10px;
    text-align: left;
    color: rgb(29, 29, 90);
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.exInfo::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    display: block;
    border: 1px solid hsl(0, 0%, 66.7%);
}
.icon{
    margin-right: 10px;
    font-size: 30px;
}
.br{
    font-size: 12px;
    text-align: left;
    color: rgb(181, 211, 240);
}

/* == THE ABOUT CONTROL == */

.about{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}
.innerAbout {
    width: 70%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.aboutPix{
    width: 40%;
    height: inherit;
    background-image: url(./img/abt2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-clip: border-box;
}
.aboutText{
    width: 40%;
    height: inherit;
    font-size: .95em;    
    color: #9ad1f1;
    text-align: justify;
    text-indent: left;
}

/* == THE SKILLS CONTROL == */

.skills{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: rgba(238, 238, 238, 0.295);
}
.innerSkill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 200px;
}
.skill{
    width: 20%;    
    margin: 10px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 1    0px;
    color: #ece9e9;
    /* border: solid 1px #ccc; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

/* == THE FOOTER CONTROL == */

.footer{
    width: 90%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ulFoot{
    display: flex;
    align-items: center;
    /* margin: 0px 40px; */
}
.footer{
    width: 100%;
    background-color: rgba(238, 238, 238,.5);
    cursor: none;
}
.cursor{
    cursor: pointer;
}
.ulFoot > li {
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
}
.no-point{
    cursor: none;
    font-weight: bold;
    font-size: 15px;
}
#size{
    font-weight: bolder;
    width: 30px;
    height: 30px;
}
